<section class="banner3 py-5">
  <div class="container py-5 text-center">
    <div class="row">
        {{!-- left side  --}}
      <div class="col-md-6">
        <img src="https://github.com/simple-icons/simple-icons/raw/develop/icons/googleearth.svg" alt="apple" class="img-fluid banner2-img">
      </div>
      {{!-- right side  --}}
      <div class="col-md-6 my-5">
        <h2 class="banner2-heading mb-5">Start Learning New Technology Here</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          ut ex laboriosam debitis vitae, harum commodi vel quas ea ipsa nam
          dolor dolores odio? At, voluptatum! Eaque error dolorem similique
          deleniti voluptas nostrum tempore cupiditate odit? Maiores corporis
          maxime possimus sapiente veritatis, iste quam saepe?</p>
        <button class="btn btn-primary btn-lg">Start Learning</button>
      </div>
    </div>
  </div>
</section>