<footer class="mt-5 bg1 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Pages</h2>
        <ul class="list-group" style="width: 60%;">
          <li class="list-group-item">Home</li>
          <li class="list-group-item">About</li>
          <li class="list-group-item">Courses</li>
          <li class="list-group-item">Services</li>
          <li class="list-group-item">Contact</li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <h2>About us</h2>
        <br>
        <p style="width: 60%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, laudantium? Ipsum
          eveniet ratione eligendi
          ipsa?</p>
        <br><br>
        <form class="d-flex ms-auto" role="search" style="width: 60%;">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      </div>
    </div>
  </div>
</footer>